# Given the names and grades for each student in a class of n students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.Note: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

In [16]:
n=int(input("Enter the number of students"))
arr=[[input(),float(input())] for _ in range(0,n)]
arr.sort(key=lambda x: (x[1],x[0]))
names = [i[0] for i in arr]
marks = [i[1] for i in arr]
min_val=min(marks)    
print ("n is",n)
print ("arr is",arr)
print("Names is",names)
print("Marks is",marks)
print("min marks is",min_val)

while marks[0]==min_val:
    marks.remove(marks[0])
    names.remove(names[0])
for x in range(0,len(marks)):
    if marks[x]==min(marks):
        print("Second Lowest marks is of=",names[x])

Enter the number of students4
ria
56
tia
58
sia
39
dia
40
n is 4
arr is [['sia', 39.0], ['dia', 40.0], ['ria', 56.0], ['tia', 58.0]]
Names is ['sia', 'dia', 'ria', 'tia']
Marks is [39.0, 40.0, 56.0, 58.0]
min marks is 39.0
Second Lowest marks is of= dia

# You have a record of N students. Each record contains the students name, and their percent marks.The user enters some integer  followed by the names and marks for  students. You are required to save the record in a dictionary data type. The user then enters a students name. Output the average percentage marks obtained by that student, correct to two decimal places.

In [14]:
n=int(input("Enter number of students"))
#arr=[[input(),float(input())] for _ in range(0,n)]
student_marks={}
for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
query_name = (input("Enter query name"))
query_scores = student_marks[query_name]
print(query_name)
print(query_scores)
print("{0:.2f}".format(sum(query_scores)/(len(query_scores))))

Enter number of students3
tia 54 23 15
ria 91 27 19
sia 46 61 29
Enter query nameria
ria
[91.0, 27.0, 19.0]
45.67